main{
    overflow-y: auto;
    min-height: 90vh;
    background-color: white;
    display: flex;
    flex-flow: column;
    #button{
        margin: 10px;
        font-weight: bold;
        align-self: end;
    }
    padding-bottom: 200px;
    .Container-news{
        -moz-box-shadow: 0px 1px 5px 0px #676767;
        -webkit-box-shadow: 0px 1px 5px 0px #676767;
        box-shadow: 0px 1px 5px 0px #676767;
        padding: 50px;
        margin: 40px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .buttons{
            align-self: flex-end;
            margin-bottom: 5px;
        }
        h2{
            align-self: start;
            margin-bottom: 10px;
        }
        p{
            align-self: start;

        }
        #tags{
            align-self: start;
            color: blue;
            margin-top: 10px;
            span{
                color: black;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover{
                text-decoration: underline;
            }
        }
        nav{
            display: flex;
            flex-flow: column;
            width: 100%;
            margin-top: 10px;
            form{
                display: flex;
                flex-flow: column;
                margin-bottom: 30px;
            }
            div{
                margin-bottom: 15px;
                display: flex;
                .containerText{
                    margin-left: 10px;
                    box-shadow: 0px 2px 6px 0px #676767;
                    padding: 10px;
                    border-radius: 10px;
                    padding-right: 50px;
                    max-width: 75vw;
                    word-break: break-word;
                    p{
                        max-width: 70vw;
                    }
                }
            }
        }
    }
}
.markdownContainer{
    background-color: #1f1f1f;
    margin: 10px;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}
.markdown{
    color: white;
    margin: 20px;
}
@media (max-width: 501px) {
    main{
        .Container-news{
            nav{
                div{
                    .avatar{
                        height: 30px;
                        width: 30px;
                    }
                    .containerText{
                        p{
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 430px) {
    main{
        .Container-news{
            margin: 30px;
            padding: 20px;
            .buttons{
                align-self: flex-end;
                margin-bottom: 5px;
                width: 50px
            }
            h2{
                align-self: center;
                font-size: 18px;
                margin-bottom: 10px;
            }
            p{
                align-self: flex-start;
                font-size: 15px;
            }

            nav{
                div{
                    .avatar{
                        height: 30px;
                        width: 30px;
                    }
                    .containerText{
                        padding: 6px;
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}