main{
    min-height: 90vh;
    background-color: white;
    display: flex;
    flex-flow: column;
    #button{
        margin: 10px;
        font-weight: bold;
        align-self: end;
    }
    .Container-news{
        -moz-box-shadow: 0px 1px 5px 0px #676767;
        -webkit-box-shadow: 0px 1px 5px 0px #676767;
        box-shadow: 0px 1px 5px 0px #676767;
        padding: 50px;
        margin: 40px;
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .buttons{
            align-self: flex-end;
            margin-bottom: 5px;
        }
        h2{
            align-self: start;
            margin-bottom: 10px;
        }
        p{
            align-self: start;

        }
        #tags{
            align-self: start;
            color: blue;
            margin-top: 10px;
            span{
                color: black;
                &:hover{
                    text-decoration: none;
                }
            }
            &:hover{
                text-decoration: underline;
            }
        }
    }
    nav{
        -moz-box-shadow: 0px 1px 5px 0px #676767;
        -webkit-box-shadow: 0px 1px 5px 0px #676767;
        box-shadow: 0px 1px 5px 0px #676767;
        padding: 30px;
        display: flex;
        flex-flow: column;
        margin: 40px;
        margin-top: 0px;
        form{
            display: flex;
            flex-flow: column;
            div{
                margin-bottom: 15px;
            }
        }
    }
}